* {
	background-color: rgb(155 ,205 ,95);
}
body{
	display: grid;
	grid-template-columns: 50% 50%;
}
h1{
	

	display:flex;
	justify-content: center;
}
.srodek{
	margin:1px;
	display: grid;
	grid-column: 1;
	display:flex;
	justify-content: flex-start;
}
.zdjecie{

	display:flex;
	justify-content: center;
	display: grid;
	grid-column: 2;
	
}
.zapisz{
	display:flex;
	justify-content: center;
	display: grid;
	grid-column: 2;

}