* {
	background-color: rgb(155 ,205 ,95);
}
body{
	display: grid;
	grid-template-columns: 50% 50%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}
h1{
	margin-left:50px;
	margin-top:90px;
}

.srodek{
	
	margin-left:60px;
	display: grid;
	grid-column: 1;
	
}

.zdjecie{
	margin-top: 60px;
	display: grid;
	grid-column: 2;
}