* {
    background-color: rgb(155 ,205 ,95);

}
html, body {
    background-color: rgb(155 ,205 ,95);
    margin: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}


.entity-table {
    border-collapse: collapse;
    width: 100%;
    /* margin: 0 auto; */
}

.entity-table th, .entity-table td {
    border: 1px solid lightgrey;
    padding: 0.5rem;
}

.entity-table th {
    color: white;
    background-color: green;
}

.entity-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.entity-table .table-footer {
    background-color: rgb(112, 173, 112);
}

.entity-table .actions {
    text-align: center;
    width: 20rem;
}

.entity-table a {
    color: black;
    border: 2px solid green;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    margin: 0.3rem;
    background-color: white;
}

.entity-table a:hover {
    color: white;
    /* border: 2px solid green; */
    /* border-radius: 5px; */
    /* padding: 0.2rem 0.5rem; */
    /* text-decoration: none; */
    /* margin: 0.3rem; */
    background-color: green;
}

h1 {
	margin-bottom: 50px;
}
h3 {
	margin-bottom: 10px;
}
h4 {
	margin-bottom: 10px;
}

.srodek {
  display: flex;
	justify-content: center;
  }
 .zdjecie{
	
	display:flex;
		justify-content: space-around;
 } 
.lewa{
	width: 70%;
	float: left;
}
.tekst{
	margin: 20px 150px 20px 20px;
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
}
.prawa{
	width: 30%;
	float: right;
}
.logowanie{
	margin: 10px;
	display: flex;
	flex-direction: column;
}
.zatwierdz{
	display: flex;
	justify-content: center	;
}	
.kontakt{
	margin: 80px;
	display:flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.mojPrzyc{
    color: black;
    border: 2px solid green;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    margin: 0.3rem;
    background-color: white;
}
input[type=text], select {
    padding: 4px 20px;
    border: 2px solid #4CAF50;
	border-radius: 4px;
}
input[type=password], select {
    padding: 4px 20px;
    border: 2px solid #4CAF50;
	border-radius: 4px;
}