* {
	background-color: rgb(155 ,205 ,95);
}
body{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 60px 10% 60% 7%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;


}

.zarej{
	margin-left: 20px;
	display: grid;
	grid-column: 1;
	grid-row: 2;
}	

.srodek{
	margin-left:30px;
	margin-right: 250px;
	display: grid;
	grid-column: 1;
	grid-row: 3;
	
}

.imie{
	margin: 10px;
	display: grid;
	grid-column: 1;
	grid-row: 3;
}	

.nazwisko{
	margin: 10px;
	display: grid;
	grid-column: 1;
	grid-row: 4;
}
.plec{
	margin: 10px;	
	display: grid;
	grid-column: 1;
	grid-row: 5;
}	
.email{
	margin: 10px;
	display: grid;
	grid-column: 1;
	grid-row: 6;
}	
.nick{
	margin: 10px;
	display: grid;
	grid-column: 1;
	grid-row: 7;
}	
.opis{
	margin: 10px;
	display: grid;
	grid-column: 1;
	grid-row: 8;
}			
.przycisk{
		
	margin-left: 100px;
	margin-right:150px;
	
	display: grid;
	grid-column: 2;
	grid-row: 4;
}
.przycc{
	
    cursor: pointer;
    font-size: 1rem;
    text-align: center;

    color: black;
    border: 2px solid green;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    background-color: white;
}
.zdjecie{
	display: grid;
	grid-column: 2;
	grid-row: 3;
}
.nawigacja{

	grid-column: 1;
	grid-row: 1;

}

input[type=text], select {
    padding: 12px 210px;
    border: 2px solid #4CAF50;
    border-radius: 4px;
}
  
.obramPole{
	padding: 12px 10px;
    border: 2px solid #4CAF50;
	border-radius: 4px;
	margin-right: 150px;
}