* {
	background-color: rgb(155 ,205 ,95);
}
body{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 60px 10% 60% 7%;

}

.zarej{
	margin-left: 20px;
	display: grid;
	grid-column: 1;
	grid-row: 2;
}	

.srodek{
	margin-left:30px;
	margin-right: 250px;
	display: grid;
	grid-column: 1;
	grid-row: 3;
	
}

.imie{
	margin: 10px;
	display: grid;
	grid-column: 1;
	grid-row: 3;
}	

.nazwisko{
	margin: 10px;
	display: grid;
	grid-column: 1;
	grid-row: 4;
}
.plec{
	margin: 10px;	
	display: grid;
	grid-column: 1;
	grid-row: 5;
}	
.email{
	margin: 10px;
	display: grid;
	grid-column: 1;
	grid-row: 6;
}	
.nick{
	margin: 10px;
	display: grid;
	grid-column: 1;
	grid-row: 7;
}	
.opis{
	margin: 10px;
	display: grid;
	grid-column: 1;
	grid-row: 8;
}			
.przycisk{
	
	margin-left: 100px;
	margin-right:150px;
	
	display: grid;
	grid-column: 2;
	grid-row: 4;
}
.zdjecie{
	display: grid;
	grid-column: 2;
	grid-row: 3;
}
.nawigacja{

	grid-column: 1;
	grid-row: 1;

}