* {
	background-color: rgb(155 ,205 ,95);
}
body{
	margin: 10px;
}
.tytuł{
	display:flex;
	justify-content: center;
}
h3{
	margin-left:40px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left:45px;
}
.przycisk{
	margin-left: 40px;
}	
.zatwierdz{
	margin-bottom:15px;
	margin-right:40px;
	display:flex;
	justify-content: flex-end;
}