* {
	background-color: rgb(155 ,205 ,95);
	/*! margin: 10px; */
}
body{
	display: grid;
	grid-template-rows: 130px 80% 50px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.gora{
	display: grid;
	grid-row: 1;
	display:flex;
	justify-content: center;
	align-items: center;
}
.przycisk{
	
	border: 6px solid #000000;
	text-align: center;
	font-size: 25px;
	
}
.tytul{
	display:flex;
	justify-content: center;
	align-items: flex-end;

}

.tabela1{
	display: grid;
	grid-row: 2;
	grid-column: 1/3;
	
	
}

.tabela2{
	display: grid;
	grid-row: 2;
	grid-column: 3/5;

}
.nawigacja{
	display: grid;
	grid-row: 3;
		grid-column: 4;

}
table{
margin-right: 5px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
