<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8">
	 <link rel="stylesheet" href="../css/Kontakt.style.css" />
    <title>Kontakt</title>
  </head>
	
  <body>
	  <div>
		<a href="/">Strona główna</a> > 
		<a>Kontakt</a>
	  </div>
	


		 <div class="srodek" > 
			<h1>Kontakt<h1>

		<p><font size="5">Tel: 123 456 789 <br>
							Fax: 123 456 789<br>
							E-mail: email@gmail.com</font><p>
							

		
		</div> 
		
		<div class="zdjecie">
			<img src="../ZDJ/Kontakt.jpg" alt="krajobraz" width="600" height="400" >
		</div>
		
  </body>
</html>	