<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8">
	 <link rel="stylesheet" href="../CSS/Profil.style.css" />
    <title>Mój profil</title>
  </head>
  <body>
    <div >
        <p><a href="/">Strona główna</a> > Mój profil</p>

    </div>
	<div class="gora">
		<img src="../ZDJ/Profil.png" alt="avatar" width="100" height="100"  >
	</div>
	
	<div class="gora przycisk">
		Moje posty: <input type="button" onclick="window.location.href = '/posty';" value="<CLICK>"/>		
	</div>
	<div class="gora przycisk">
		Dodaj post: <input type="button" onclick="window.location.href = '/posty/dodPost';" value="<CLICK>"/>		
	</div>
	<div class="gora przycisk">
		Moje konto: <input type="button" onclick="window.location.href = 'MojeKonto.html';" value="<CLICK>"/>		
	</div>
	
	<div class="tabela1" >
		<label for="tab1" class="tytul">Lista ostatnio dodanych postów: </label>
		<table style="width:100%" name="tab1" class="tabela">
		<tr>
			<th>Tytuł</th>
			<th>Data dodania</th> 
			<th>Ocena</th>
			<th>Autor</th>
		</tr>
		<tr>
			<td>Starówka Dubrownik</td>
			<td>15.09.2019</td>
			<td>8</td>
			<td>Jan Kowal</th>
		</tr>
		<tr>
			<td>Plaza Włochy</td>
			<td>04.06.2019</td>
			<td>7</td>
			<td>Anna Nowak</td>
		</tr>
		<tr>
			<td>Restauracja "Pod Papugami"</td>
			<td>19.10.2019</td>
			<td>10</td>
			<td>Krzysztof Kopeć</td>
		</tr>
		</table>
	</div>
	<div class="tabela2" >
		<label for="tab2" class="tytul">Lista najczęściej odwiedzanych miejsc w ciągu ostatnich 30dni: </label>
		<table style="width:100%"name="tab2" class="tabela">
		<tr>
			<th>Tytuł</th>
			<th>Data dodania</th> 
			<th>Ocena</th>
			<th>Autor</th>
		</tr>
		<tr>
			<td>Starówka Dubrownik</td>
			<td>15.09.2019</td>
			<td>8</td>
			<td>Jan Kowal</th>
		</tr>
		<tr>
			<td>Plaza Włochy</td>
			<td>04.06.2019</td>
			<td>7</td>
			<td>Anna Nowak</td>
		</tr>
		<tr>
			<td>Restauracja "Pod Papugami"</td>
			<td>19.10.2019</td>
			<td>10</td>
			<td>Krzysztof Kopeć</td>
		</tr>
		</table>
	</div>
  </body>
</html>	
